{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Locus Custom Software</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700"
      rel="stylesheet"
      type="text/css"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="{% static 'css/estilo.css' %}" />
  </head>
  <body>
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 text-center mb-5">
            <h2 class="heading-section">Banco Locus</h2>
          </div>
        </div>
        <div class="row justify-content-start">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="/{{ previous_page }}">Anterior</a>
            </li>
            {% if previous_page == last_page %}
            <li class="page-item disabled">
              <a class="page-link" href="/{{ next_page }}">Próxima</a>
            </li>
            {% else %}
            <li class="page-item">
              <a class="page-link" href="/{{ next_page }}">Próxima</a>
            </li>
            {% endif %}
          </ul>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Empresa</th>
                    <th>Socio</th>
                    <th>Status</th>
                    <th>CNPJ</th>
                    <th>CPF</th>
                    <th>E-mail</th>
                  </tr>
                </thead>
                <tbody>
                  {% for user in users %}
                  <tr class="alert" role="alert">
                    <td>{{user.trading_name}}</td>
                    <td>{{user.partner}}</td>
                    {% if user.status == 'Ativo' %}
                    <td class="status">
                      <span class="active">{{ user.status }}</span>
                    </td>
                    {% endif %} {% if user.status == 'Esperando documentação' %}
                    <td class="status" style="white-space: nowrap !important">
                      <span class="waiting">{{ user.status }}</span>
                    </td>
                    {% endif %} {% if user.status == 'Em análise' %}
                    <td class="status">
                      <span class="review">{{ user.status }}</span>
                    </td>
                    {% endif %} {% if user.status == 'Negado' %}
                    <td class="status">
                      <span class="negative">{{ user.status }}</span>
                    </td>
                    {% endif %} {% if user.status == 'Cancelado' %}
                    <td class="status">
                      <span class="negative">{{ user.status }}</span>
                    </td>
                    {% endif %}

                    <td id="cnpj" style="white-space: nowrap !important">
                      {{ user.cnpj }}
                    </td>
                    <td id="cpf" style="white-space: nowrap !important">
                      {{ user.cpf }}
                    </td>
                    <td>{{ user.email }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
